body{
    background: #FFDADF;
}

h1{
    font-family: Helvetica;
    font-weight: bold;
    color: #7f6d6f;
    font-size: 10px;
    padding-top: 20%;
    padding-left: 43%;
    
}

h2 {
    font-family: Helvetica;
    font-weight: lighter;
    color: #7f6d6f;
    font-size: 10px;
    padding-left: 43%;

}

a {
    font-family: Helvetica;
    font-weight: lighter;
    color: #7f6d6f;
    font-size: 10px;
    text-decoration: none;
}

a:hover{
    color: white;
}

.nope{
    color: #e5c4c8;
}