body{
    background: #FFDADF;
}

h1{
    font-family: Helvetica;
    font-weight: bold;
    color: grey;
    font-size: 10px;
    padding-top: 20%;
    padding-left: 43%;
    
}

h2 {
    font-family: Helvetica;
    font-weight: lighter;
    color: grey;
    font-size: 10px;
    padding-left: 43%;

}

a {
    font-family: Helvetica;
    font-weight: lighter;
    color: grey;
    font-size: 10px;
    text-decoration: none;
}