body{
	background-color: #CCD1D1;
	border: 1px solid white;
	border-style: dashed;
	margin: 20%;
	margin-top: 10%;
	margin-bottom: 10%;
}

/*@font-face{
	font-family: helsinki;
	src: url(helsinkiblack.ttf);
}*/

h1{
	color: white;
	font-family: helvetica;
	font-weight: lighter;
	font-size: 300%;
	padding-left: 10%;
	padding-right: 10%;
	line-height: 100%;
}

a{
	color: white;
	font-family: helvetica;
/*	font-size: 70%;*/
	/*padding-left: 10%;
	padding-right: 10%;*/
	text-decoration: none;
	text-align: center;
}

a:hover {
	cursor: pointer;
	color: grey;

}


span{
	color: grey;
}

img{
	margin: 0;
}


#two {
	
	background: #ffdde2;
}

#three{
	/*background: #ffd0d7;*/
	background: #99A3A4;
}

#four{
	background: #ff8fa0;
}

#five{
	background: #616A6B;

}

#six {
	background: #ff546e
}

#seven {
	background: #424949;

}

#eight {
	background: #ff0526;
}

#nine {
	background: #f4c1c9;

}


#ten {


}

#eleven {
	background: url(li.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  border: none;
}



